@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Quicksand:wght@400;700&display=swap");

/* font-family: 'DM Mono', monospace; ---> fuente monospace */
/* font-family: 'Quicksand', sans-serif; ---> fuente de títulos */

.bg {
  border: 2px red solid;
}

.flex {
  display: flex;
}

/* CLASES GENERALES */

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: "DM Mono", monospace;
}

a {
  text-decoration: none;
  color: #e9d5ca;
}

a:visited {
  color: #e9d5ca;
}

a:hover {
  color: #827397;
}

.title {
  font-family: "Quicksand", sans-serif;
}

.title-right {
  font-family: "Quicksand", sans-serif;
  color: #363062;
  letter-spacing: 0.05rem;
}

.text {
  font-family: "DM Mono", monospace;
}

hr {
  width: 50px;
  padding: 0;
  margin: 0;
  background-color: #363062;
}

li {
  padding: 2px;
}

h5 {
  font-weight: normal;
}

/* PARTE IZQUIERDA */

.personal-info {
  background-color: #363062;
  color: #e9d5ca;
  flex-direction: column;
  width: 30vw;
  padding: 10px;
  margin: 0;
}

.avatar {
  padding: 20px 0 0 20px;
}

.avatar-mer {
  width: 150px;
  border-radius: 100px;
}

.contact-line {
  background-color: #827397;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

.contact-line p {
  padding: 0 5px;
  margin: 0;
}

.social-media-div {
  font-size: 1.5rem;
  gap: 20px;
}

.location:hover {
  color: #363062;
}

/* PARTE DERECHA */

.ed-and-xp {
  width: 70vw;
  padding: 20px;
}

.title-right > h3 {
  margin: 10px 0px;
}

.col-left {
  width: 30%;
  display: flex;
  justify-content: center;
}

.indiv-educ > .col-left {
  align-items: center;
}

.indiv-work > .col-left {
  align-items: flex-start;
  padding-top: 25px;
}

.icon-xp {
  width: 60%;
}

.col-right {
  width: 70%;
}

.indiv-educ {
  padding: 10px;
  margin: 5px 10px;
  /*background-color: rgba(242, 235, 233, 0.5);
  border-radius: 20px;*/
}

.ed-and-xp-div > article {
  margin: 10px;
  margin-bottom: 50px;
}

.code {
  margin: 2px;
  font-size: 0.8rem;
}

.personal-info-div > article {
  margin-bottom: 40px;
}

.copyright > p {
  font-size: 0.7rem;
}

.footer {
  display: none;
}

.fade-out {
  display: none;
}

@media (max-width: 400px) {
  body {
    flex-direction: column;
    width: 100vw;
  }

  h1,
  h5 {
    margin: 5px;
  }

  .personal-info,
  .ed-and-xp,
  .avatar {
    width: 100vw;
    padding: 0;
  }

  .personal-info-div {
    padding: 20px;
  }

  .avatar {
    justify-content: center;
    padding-top: 20px;
  }
  .copyright {
    display: none;
  }

  .col-left {
    display: none;
  }

  .col-right {
    width: 100%;
  }

  .copyright {
    background-color: #363062;
  }

  .ed-and-xp {
    padding: 10px;
    width: 100%;
  }

  .footer {
    display: flex;
    background-color: #363062;
    justify-content: center;
    width: 100%;
  }

  .footer > p {
    color: white;
    font-size: 0.7rem;
    padding: 5px;
    margin: 0;
  }

  .fade-out {
    display: inline-block;
    height: 100px;
    margin-top: 0;
    background: linear-gradient(to bottom, #363062, white);
  }
}

@media (min-width: 1441px) {
  html {
    font-size: 22px;
  }
}
